 BEGIN TRY 
 Drop Procedure dbo.[INSERT_D_SalesTran]
END try
BEGIN CATCH END CATCH 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [INSERT_D_SalesTran]
(
    @SalesNO varchar(11),
    @ProcessKBN tinyint,
    @RecoredKBN tinyint,
    @SIGN int,
    @Operator  varchar(10),
    @SYSDATETIME  datetime,
    @Keijobi  varchar(10),
    @PurchaseAmount money = 0,
    @TaxAmount money = 0,
    @DiscountAmount money = 0,
    @BillingAmount money = 0,
    @PointAmount money = 0,
    @CardDenominationCD varchar(3) = NULL,
    @CardAmount money = 0,
    @CashAmount money = 0,
    @DepositAmount money = 0,
    @RefundAmount money = 0,
    @CreditAmount money = 0,
    @Denomination1CD varchar(3) = NULL,
    @Denomination1Amount money = 0,
    @Denomination2CD varchar(3) = NULL,
    @Denomination2Amount money = 0,
    @AdvanceAmount money = 0,
    @TotalAmount money = 0,
    @SalesTranIdent int OUTPUT
)AS
--********************************************--
--                                            --
--                 処理開始                   --
--                                            --
--********************************************--

BEGIN
    IF @ProcessKBN = 4
    BEGIN
        SET @PurchaseAmount = -1 * @PurchaseAmount
        SET @TaxAmount = -1 * @TaxAmount
        SET @DiscountAmount = -1 * @DiscountAmount
        SET @BillingAmount = -1 * @BillingAmount
        SET @PointAmount = -1 * @PointAmount
        SET @CardAmount = -1 * @CardAmount
        SET @CashAmount = -1 * @CashAmount
        SET @DepositAmount = -1 * @DepositAmount
        SET @RefundAmount = -1 * @RefundAmount
        SET @CreditAmount = -1 * @CreditAmount
        SET @Denomination1Amount = -1 * @Denomination1Amount
        SET @Denomination2Amount = -1 * @Denomination2Amount
        SET @AdvanceAmount = -1 * @AdvanceAmount
        SET @TotalAmount = -1 * @TotalAmount
    END

    INSERT INTO [D_SalesTran]
       ([ProcessKBN]
       ,[RecoredKBN]
       ,[SalesNO]
       ,[StoreCD]
       ,[SalesDate]
       ,[ShippingNO]
       ,[CustomerCD]
       ,[CustomerName]
       ,[CustomerName2]
       ,[BillingType]
       ,[SalesHontaiGaku]
       ,[SalesHontaiGaku0]
       ,[SalesHontaiGaku8]
       ,[SalesHontaiGaku10]
       ,[SalesTax]
       ,[SalesTax8]
       ,[SalesTax10]
       ,[SalesGaku]
       ,[LastPoint]
       ,[WaitingPoint]
       ,[StaffCD]
       ,[PrintDate]
       ,[PrintStaffCD]
       ,[StoreSalesUpdateFLG]
       ,[StoreSalesUpdatetime]
       ,[Discount]
       ,[Discount8]
       ,[Discount10]
       ,[DiscountTax]
       ,[DiscountTax8]
       ,[DiscountTax10]
       ,[CostGaku]
       ,[ProfitGaku]
       ,[PurchaseNO]
       ,[SalesEntryKBN]
       ,[NouhinsyoComment]
       ,[PurchaseAmount]
       ,[TaxAmount]
       ,[DiscountAmount]
       ,[BillingAmount]
       ,[PointAmount]
       ,[CardDenominationCD]
       ,[CardAmount]
       ,[CashAmount]
       ,[DepositAmount]
       ,[RefundAmount]
       ,[CreditAmount]
       ,[Denomination1CD]
       ,[Denomination1Amount]
       ,[Denomination2CD]
       ,[Denomination2Amount]
       ,[AdvanceAmount]
       ,[TotalAmount]
       ,[InsertOperator]
       ,[InsertDateTime])
    SELECT
       @ProcessKBN	--ProcessKBN 1:追加、2:訂正、4:返品
       ,@RecoredKBN 	--RecoredKBN
       ,DS.SalesNO
       ,DS.StoreCD
       ,(CASE @RecoredKBN WHEN 1 THEN convert(date,@Keijobi) 
               ELSE convert(date,DS.SalesDate) END)
       ,DS.ShippingNO
       ,DS.CustomerCD
       ,DS.CustomerName
       ,DS.CustomerName2
       ,DS.BillingType
       ,@SIGN*DS.SalesHontaiGaku
       ,@SIGN*DS.SalesHontaiGaku0
       ,@SIGN*DS.SalesHontaiGaku8
       ,@SIGN*DS.SalesHontaiGaku10
       ,@SIGN*DS.SalesTax
       ,@SIGN*DS.SalesTax8
       ,@SIGN*DS.SalesTax10
       ,@SIGN*DS.SalesGaku
       ,DS.LastPoint
       ,DS.WaitingPoint
       ,DS.StaffCD
       ,DS.PrintDate
       ,DS.PrintStaffCD
       ,0		--StoreSalesUpdateFLG
       ,NULL	--StoreSalesUpdatetime
       ,@SIGN*DS.Discount
       ,@SIGN*DS.Discount8
       ,@SIGN*DS.Discount10
       ,@SIGN*DS.DiscountTax
       ,@SIGN*DS.DiscountTax8
       ,@SIGN*DS.DiscountTax10
       ,@SIGN*DS.CostGaku
       ,@SIGN*DS.ProfitGaku
       ,DS.PurchaseNO
       ,DS.SalesEntryKBN
       ,DS.NouhinsyoComment
       ,@SIGN * @PurchaseAmount
       ,@SIGN * @TaxAmount
       ,@SIGN * @DiscountAmount
       ,@SIGN * @BillingAmount
       ,@SIGN * @PointAmount
       ,@CardDenominationCD
       ,@SIGN * @CardAmount
       ,@SIGN * @CashAmount
       ,@SIGN * @DepositAmount
       ,@SIGN * @RefundAmount
       ,@SIGN * @CreditAmount
       ,@Denomination1CD
       ,@SIGN * @Denomination1Amount
       ,@Denomination2CD
       ,@SIGN * @Denomination2Amount
       ,@SIGN * @AdvanceAmount
       ,@SIGN * @TotalAmount
       ,@Operator	--InsertOperator
       ,@SYSDATETIME	--InsertDateTime
       FROM D_Sales AS DS
       WHERE DS.SalesNO = @SalesNO
       ;

    SET @SalesTranIdent = SCOPE_IDENTITY()

    INSERT INTO [D_SalesDetailsTran]
       ([DataNo]
       ,[DataRows]
       ,[ProcessKBN]
       ,[RecoredKBN]
       ,[SalesNO]
       ,[SalesRows]
       ,[JuchuuNO]
       ,[JuchuuRows]
       ,[NotPrintFLG]
       ,[AddSalesRows]
       ,[ShippingNO]
       ,[SKUCD]
       ,[AdminNO]
       ,[JanCD]
       ,[SKUName]
       ,[ColorName]
       ,[SizeName]
       ,[SalesSU]
       ,[SalesUnitPrice]
       ,[TaniCD]
       ,[SalesHontaiGaku]
       ,[SalesTax]
       ,[SalesGaku]
       ,[SalesTaxRitsu]
       ,[ProperGaku]	--2019.12.12 add
	   ,[DiscountGaku]	--2019.12.12 add
       ,[CostUnitPrice]
       ,[CostGaku]
       ,[ProfitGaku]
       ,[CommentOutStore]
       ,[CommentInStore]
       ,[IndividualClientName]
       ,[DeliveryNoteFLG]
       ,[BillingPrintFLG]
       ,[PurchaseNO]
       ,[PurchaseRows]
       ,[DeleteOperator]
       ,[DeleteDateTime]
       ,[InsertOperator]
       ,[InsertDateTime])
    SELECT
       @SalesTranIdent
       ,DS.SalesRows	--DataRows
       ,@ProcessKBN	--1:追加 ProcessKBN 1:追加、2:訂正、4:返品
       ,@RecoredKBN 	--RecoredKBN
       ,DS.SalesNO
       ,DS.SalesRows
       ,DS.JuchuuNO
       ,DS.JuchuuRows
       ,DS.NotPrintFLG
       ,DS.AddSalesRows
       ,DS.ShippingNO
       ,DS.SKUCD
       ,DS.AdminNO
       ,DS.JanCD
       ,DS.SKUName
       ,DS.ColorName
       ,DS.SizeName
       ,@SIGN*DS.SalesSU
       ,DS.SalesUnitPrice
       ,DS.TaniCD
       ,@SIGN*DS.SalesHontaiGaku
       ,@SIGN*DS.SalesTax
       ,@SIGN*DS.SalesGaku
       ,DS.SalesTaxRitsu
       ,@SIGN*DS.ProperGaku	--2019.12.12 add
	   ,@SIGN*DS.DiscountGaku	--2019.12.12 add
       ,@SIGN*DS.CostUnitPrice
       ,@SIGN*DS.CostGaku
       ,@SIGN*DS.ProfitGaku
       ,DS.CommentOutStore
       ,DS.CommentInStore
       ,DS.IndividualClientName
       ,DS.DeliveryNoteFLG
       ,DS.BillingPrintFLG
       ,DS.PurchaseNO
       ,DS.PurchaseRows
       ,DS.DeleteOperator
       ,DS.DeleteDateTime
       ,@Operator
       ,@SYSDATETIME
       FROM D_SalesDetails AS DS
       WHERE DS.SalesNO = @SalesNO
       ;
END


