 BEGIN TRY 
 DROP PROCEDURE [dbo].[MasterTorikomi_SKU_CheckItemExists]
END TRY
BEGIN CATCH END CATCH 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:        <Author,,Name>
-- Create date: <Create Date,,>
-- Description:    <Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MasterTorikomi_SKU_CheckItemExists]
    @ITemCD     varchar(30),
    @ChangeDate date
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 1 FROM M_ITEM
    WHERE ITemCD = @ITemCD
    AND ChangeDate = @ChangeDate

END