 BEGIN TRY 
 Drop Procedure dbo.[PRC_MasterTouroku_Syouhin]
END try
BEGIN CATCH END CATCH 
 BEGIN TRY 
 DROP TYPE [dbo].[T_SKU]
END try
BEGIN CATCH END CATCH 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--  ======================================================================
--       Program Call    商品マスタ
--       Program ID      MasterTouroku_Syouhin
--       Create date:    2020.3.8
--    ======================================================================
--CREATE TYPE [T_Site] AS TABLE(
--	[AdminNO]  int
--   ,[ColorNO]  int
--   ,[SizeNO]  int
--   ,[APIKey] tinyint
--   ,[ShouhinCD] varchar(30)
--   ,[SiteURL] varchar(300)
--)
--GO

CREATE TYPE [T_SKU] AS TABLE(
    [RowNO]  int
   ,[AdminNO]  int
   ,[SKUCD]  varchar(40)
   ,[ChangeDate]  date
   ,[VariousFLG]  tinyint
   ,[SKUName]  varchar(100)
   ,[KanaName]  varchar(50)
   ,[SKUShortName]  varchar(40)
   ,[EnglishName]  varchar(80)
   ,[ITemCD]  varchar(30)
   ,[ColorNO]  int
   ,[SizeNO]  int
   ,[JanCD]  varchar(13)
   ,[SetKBN]  tinyint
   ,[PresentKBN]  tinyint
   ,[SampleKBN]  tinyint
   ,[DiscountKBN]  tinyint
   ,[ColorName]  varchar(32)
   ,[SizeName]  varchar(32)
   ,[WebFlg]  tinyint
   ,[RealStoreFlg]  tinyint
   ,[MainVendorCD]  varchar(13)
   ,[MakerVendorCD]  varchar(13)
   ,[BrandCD]  varchar(6)
   ,[MakerItem]  varchar(50)
   ,[TaniCD]  varchar(2)
   ,[SportsCD]  varchar(6)
   ,[SegmentCD] varchar(6)
   ,[ZaikoKBN]  tinyint
   ,[Rack]  varchar(10)
   ,[VirtualFlg]  tinyint
   ,[DirectFlg]  tinyint
   ,[ReserveCD]  varchar(3)
   ,[NoticesCD]  varchar(3)
   ,[PostageCD]  varchar(3)
   ,[ManufactCD]  varchar(3)
   ,[ConfirmCD]  varchar(3)
   ,[WebStockFlg]  tinyint
   ,[StopFlg]  tinyint
   ,[DiscontinueFlg]  tinyint
   ,[InventoryAddFlg]  tinyint
   ,[MakerAddFlg]  tinyint
   ,[StoreAddFlg]  tinyint
   ,[NoNetOrderFlg]  tinyint
   ,[EDIOrderFlg]  tinyint
   ,[CatalogFlg]  tinyint
   ,[ParcelFlg]  tinyint
   ,[SoldOutFlg]  tinyint
   ,[AutoOrderFlg]  tinyint
   ,[TaxRateFLG]  tinyint
   ,[CostingKBN]  tinyint
   ,[SaleExcludedFlg]  tinyint
   ,[PriceWithTax]  money
   ,[PriceOutTax]  money
   ,[OrderPriceWithTax]  money
   ,[OrderPriceWithoutTax]  money
   ,[Rate] decimal(5,2)
   ,[SaleStartDate]  date
   ,[WebStartDate]  date
   ,[OrderAttentionCD]  varchar(3)
   ,[OrderAttentionNote]  varchar(100)
   ,[CommentInStore]  varchar(300)
   ,[CommentOutStore]  varchar(300)
   ,[ExhibitionSegmentCD]  varchar(5)
   ,[OrderLot] int
   ,[ExhibitionCommonCD]  varchar(30)
   ,[LastYearTerm]  varchar(6)
   ,[LastSeason]  varchar(6)
   ,[LastCatalogNO]  varchar(20)
   ,[LastCatalogPage]  varchar(20)
   ,[LastCatalogText]  varchar(1000)
   ,[LastInstructionsNO]  varchar(1000)
   ,[LastInstructionsDate]  date
   ,[WebAddress]  varchar(200)
   ,[ApprovalDate]  date
   ,[TagName1]  varchar(40)
   ,[TagName2]  varchar(40)
   ,[TagName3]  varchar(40)
   ,[TagName4]  varchar(40)
   ,[TagName5]  varchar(40)
   ,[TagName6]  varchar(40)
   ,[TagName7]  varchar(40)
   ,[TagName8]  varchar(40)
   ,[TagName9]  varchar(40)
   ,[TagName10]  varchar(40)
   ,[SetAdminCD]  int
   ,[SetItemCD]  varchar(30)
   ,[SetSKUCD]  varchar(30)
   ,[SetSU]  int
   ,[DeleteFlg] [tinyint]
   ,[UpdateFlg] [tinyint] NULL
)

GO
CREATE PROCEDURE [dbo].[PRC_MasterTouroku_Syouhin]
    (@OperateMode         int,                 -- 処理区分（1:新規 2:修正 3:削除）

    @ITemCD               varchar(30) ,
    @ChangeDate           date ,
    @VariousFLG           tinyint ,
    @ITemName             varchar(100) ,
    @KanaName             varchar(50) ,
    @SKUShortName         varchar(40) ,
    @EnglishName          varchar(80) ,
 --   @ColorNO  int ,
 --   @SizeNO  int ,
 --   @JanCD  varchar(13) ,
    @SetKBN               tinyint ,
    @PresentKBN           tinyint ,
    @SampleKBN            tinyint ,
    @DiscountKBN          tinyint ,
	@ColorCount			  tinyint,
	@SizeCount			  tinyint,
    @ColorName            varchar(32) ,
    @SizeName             varchar(32) ,
    @WebFlg               tinyint ,
    @RealStoreFlg         tinyint ,
    @MainVendorCD         varchar(13) ,
    --@MakerVendorCD  varchar(13) ,
    @BrandCD              varchar(6) ,
    @MakerItem            varchar(50) ,
    @TaniCD               varchar(2) ,
    @SportsCD             varchar(6) ,
    @SegmentCD            varchar(6),
    @ZaikoKBN             tinyint ,
    @Rack                 varchar(10) ,
    @VirtualFlg           tinyint ,
    @DirectFlg            tinyint ,
    @ReserveCD            varchar(3) ,
    @NoticesCD            varchar(3) ,
    @PostageCD            varchar(3) ,
    @ManufactCD           varchar(3) ,
    @ConfirmCD            varchar(3) ,
    @WebStockFlg          tinyint ,
    @StopFlg              tinyint ,
    @DiscontinueFlg       tinyint ,
    @InventoryAddFlg      tinyint ,
    @MakerAddFlg          tinyint ,
    @StoreAddFlg          tinyint ,
    @NoNetOrderFlg        tinyint ,
    @EDIOrderFlg          tinyint ,
    @CatalogFlg           tinyint ,
    @ParcelFlg            tinyint ,
    @SoldOutFlg           tinyint ,
    @AutoOrderFlg         tinyint ,
    @TaxRateFLG           tinyint ,
    @CostingKBN           tinyint ,
    @SaleExcludedFlg      tinyint ,
    @PriceWithTax         money ,
    @PriceOutTax          money ,
    @OrderPriceWithTax    money ,
    @OrderPriceWithoutTax money ,
    @Rate                 decimal(5,2),
    @SaleStartDate        date ,
    @WebStartDate         date ,
    @OrderAttentionCD     varchar(3) ,
    @OrderAttentionNote   varchar(100) ,
    @CommentInStore       varchar(300) , 
    @CommentOutStore      varchar(300) ,
	@TagName01			  varchar(40),
	@TagName02			  varchar(40),
	@TagName03			  varchar(40),
	@TagName04			  varchar(40),
	@TagName05			  varchar(40),
	@TagName06			  varchar(40),
	@TagName07			  varchar(40),
	@TagName08			  varchar(40),
	@TagName09			  varchar(40),
	@TagName101			  varchar(40),
    @ExhibitionSegmentCD  varchar(5) ,
	@OrderLot             int,
    @LastYearTerm         varchar(6) ,
    @LastSeason           varchar(6) ,
    @LastCatalogNO        varchar(50) ,
    @LastCatalogPage      varchar(50) ,
    @LastCatalogText      varchar(1000) ,
    @LastInstructionsNO   varchar(1000) ,
    @LastInstructionsDate date ,
    @WebAddress           varchar(200) ,
    @ApprovalDate         date ,
    @DeleteFlg            tinyint ,
    @UsedFlg              tinyint ,
    
    @Table                T_SKU READONLY,
    @SiteTable            T_Site READONLY,
    @Operator             varchar(10),
    @PC                   varchar(30)
)AS

--********************************************--
--                                            --
--                 処理開始                   --
--                                            --
--********************************************--

BEGIN
    DECLARE @W_ERR  tinyint;
    DECLARE @SYSDATETIME datetime;
    DECLARE @OperateModeNm varchar(10);
    DECLARE @KeyItem varchar(100);
    
    SET @W_ERR = 0;
    SET @SYSDATETIME = SYSDATETIME();
    SET @KeyItem = @ITemCD + ' ' + CONVERT(varchar, @ChangeDate,111);
    
    DECLARE CUR_AAA CURSOR FOR
        SELECT tbl.RowNO, tbl.UpdateFlg, tbl.AdminNO
              ,tbl.TagName1,tbl.TagName2,tbl.TagName3,tbl.TagName4,tbl.TagName5
              ,tbl.TagName6,tbl.TagName7,tbl.TagName8,tbl.TagName9,tbl.TagName10
        FROM @Table AS tbl
        ORDER BY tbl.RowNO
        ;
        
    DECLARE @RowNO      int;
    DECLARE @UpdateFlg  tinyint;
    DECLARE @AdminNO    int;
    DECLARE @TagName1   varchar(40);
    DECLARE @TagName2   varchar(40);
    DECLARE @TagName3   varchar(40);
    DECLARE @TagName4   varchar(40);
    DECLARE @TagName5   varchar(40);
    DECLARE @TagName6   varchar(40);
    DECLARE @TagName7   varchar(40);
    DECLARE @TagName8   varchar(40);
    DECLARE @TagName9   varchar(40);
    DECLARE @TagName10  varchar(40);
    DECLARE @NewAdminNO int;
    
    IF @OperateMode >= 2 --変更・削除
    BEGIN
    	--テーブル転送仕様Ｃ
        DELETE FROM [M_SKUTag]
        WHERE EXISTS(SELECT 1 FROM M_SKU AS MS 
                     WHERE MS.AdminNO = M_SKUTag.AdminNO 
                     AND MS.ChangeDate = M_SKUTag.ChangeDate
                     AND MS.ITemCD = @ITemCD  
                     AND MS.ChangeDate = @ChangeDate);
               
        --テーブル転送仕様Ｅ
        --JAN発注単価マスタ（M_JANOrderPrice）
        DELETE FROM [M_JANOrderPrice]
        WHERE EXISTS(SELECT 1 FROM M_SKU AS MS
                     WHERE MS.ITemCD = @ITemCD
                     AND MS.ChangeDate = @ChangeDate
                     AND MS.AdminNO = M_JANOrderPrice.AdminNO
                     AND MS.MainVendorCD = M_JANOrderPrice.VendorCD
                     AND MS.ChangeDate = M_JANOrderPrice.ChangeDate
                     AND '0000' = M_JANOrderPrice.StoreCD
                     );

		 DELETE FROM [M_Site] 
        WHERE EXISTS(SELECT 1 FROM M_SKU AS MS 
                     WHERE MS.AdminNO = M_Site.AdminNO 
                     AND MS.ITemCD = @ITemCD  
                     AND MS.ChangeDate = @ChangeDate);
    END
    
    --新規--
    IF @OperateMode = 1
    BEGIN
        SET @OperateModeNm = '新規';
        
        --テーブル転送仕様Ａ
        INSERT INTO [M_ITEM]
           ([ITemCD]
           ,[ChangeDate]
           ,[VariousFLG]
           ,[ITemName]
           ,[KanaName]
           ,[ITEMShortName]	--[SKUShortName]
           ,[EnglishName]
           ,[SetKBN]
           ,[PresentKBN]
           ,[SampleKBN]
           ,[DiscountKBN]
		   ,[ColorCount]
		   ,[SizeCount]
           ,[ColorName]
           ,[SizeName]
           ,[WebFlg]
           ,[RealStoreFlg]
           ,[MainVendorCD]
           ,[MakerVendorCD]
           ,[BrandCD]
           ,[MakerItem]
           ,[TaniCD]
           ,[SportsCD]
           ,[SegmentCD]
           ,[ZaikoKBN]
           ,[Rack]
           ,[VirtualFlg]
           ,[DirectFlg]
           ,[ReserveCD]
           ,[NoticesCD]
           ,[PostageCD]
           ,[ManufactCD]
           ,[ConfirmCD]
           ,[WebStockFlg]
           ,[StopFlg]
           ,[DiscontinueFlg]
           ,[SoldOutFlg]
           ,[InventoryAddFlg]
           ,[MakerAddFlg]
           ,[StoreAddFlg]
           ,[NoNetOrderFlg]
           ,[EDIOrderFlg]
           ,[CatalogFlg]
           ,[ParcelFlg]
           ,[AutoOrderFlg]
           ,[TaxRateFLG]
           ,[CostingKBN]
           ,[SaleExcludedFlg]
           ,[PriceWithTax]
           ,[PriceOutTax]
           ,[OrderPriceWithTax]
           ,[OrderPriceWithoutTax]
           ,[Rate]
           ,[SaleStartDate]
           ,[WebStartDate]
           ,[OrderAttentionCD]
           ,[OrderAttentionNote]
           ,[CommentInStore]
           ,[CommentOutStore]
		   ,[TagName01]
		   ,[TagName02]
		   ,[TagName03]
		   ,[TagName04]
		   ,[TagName05]
		   ,[TagName06]
		   ,[TagName07]
		   ,[TagName08]
		   ,[TagName09]
		   ,[TagName10]
           ,[ExhibitionSegmentCD]
           ,[OrderLot]
           ,[LastYearTerm]
           ,[LastSeason]
           ,[LastCatalogNO]
           ,[LastCatalogPage]
           ,[LastCatalogText]
           ,[LastInstructionsNO]
           ,[LastInstructionsDate]
           ,[WebAddress]
           ,[ApprovalDate]
           ,[ApprovalDateTime]
           ,[DeleteFlg]
           ,[UsedFlg]
		   ,[SKSUpdateFlg]
           ,[InsertOperator]
           ,[InsertDateTime]
           ,[UpdateOperator]
           ,[UpdateDateTime])
     	VALUES
           (@ITemCD
           ,@ChangeDate
           ,@VariousFLG
           ,@ITemName
           ,@KanaName
           ,@SKUShortName
           ,@EnglishName
           ,@SetKBN
           ,@PresentKBN
           ,@SampleKBN
           ,@DiscountKBN
		   ,(SELECT MAX(A.ColorNO) FROM @Table AS A 
            WHERE A.ITemCD = @ITemCD)
		   ,(SELECT MAX(A.SizeNO) FROM @Table AS A 
			 WHERE A.ITemCD = @ITemCD)
           ,@ColorName
           ,@SizeName
           ,@WebFlg
           ,@RealStoreFlg
           ,@MainVendorCD
           ,@MainVendorCD 	--MakerVendorCD
           ,@BrandCD
           ,@MakerItem
           ,@TaniCD
           ,@SportsCD
           ,@SegmentCD
           ,@ZaikoKBN
           ,@Rack
           ,@VirtualFlg
           ,@DirectFlg
           ,@ReserveCD
           ,@NoticesCD
           ,@PostageCD
           ,@ManufactCD
           ,@ConfirmCD
           ,@WebStockFlg
           ,@StopFlg
           ,@DiscontinueFlg
           ,@SoldOutFlg
           ,@InventoryAddFlg
           ,@MakerAddFlg
           ,@StoreAddFlg
           ,@NoNetOrderFlg
           ,@EDIOrderFlg
           ,@CatalogFlg
           ,@ParcelFlg
           ,@AutoOrderFlg
           ,@TaxRateFLG
           ,@CostingKBN
           ,@SaleExcludedFlg
           ,@PriceWithTax
           ,@PriceOutTax
           ,@OrderPriceWithTax
           ,@OrderPriceWithoutTax
           ,@Rate
           ,@SaleStartDate
           ,@WebStartDate
           ,@OrderAttentionCD
           ,@OrderAttentionNote
           ,@CommentInStore
           ,@CommentOutStore
		   ,@TagName01
		   ,@TagName02
		   ,@TagName03
		   ,@TagName04
		   ,@TagName05
		   ,@TagName06
		   ,@TagName07
		   ,@TagName08
		   ,@TagName09
		   ,@TagName101
           ,@ExhibitionSegmentCD
           ,@OrderLot
           ,@LastYearTerm
           ,@LastSeason
           ,@LastCatalogNO
           ,@LastCatalogPage
           ,@LastCatalogText
           ,@LastInstructionsNO
           ,@LastInstructionsDate
           ,@WebAddress
           ,@ApprovalDate
           ,(CASE when @ApprovalDate is not NULL THEN @SYSDATETIME
                ELSE Null END)  --ApprovalDateTime
           ,@DeleteFlg
           ,@UsedFlg
		   ,1
           ,@Operator  
           ,@SYSDATETIME
           ,@Operator  
           ,@SYSDATETIME
		);

        --テーブル転送仕様Ｄ
        --ITEM販売単価マスタ（M_ItemPrice）
        INSERT INTO [M_ItemPrice]
           ([ITemCD]
           ,[ChangeDate]
           ,[PriceWithTax]
           ,[PriceWithoutTax]
           ,[GeneralRate]
           ,[GeneralPriceWithTax]
           ,[GeneralPriceOutTax]
           ,[MemberRate]
           ,[MemberPriceWithTax]
           ,[MemberPriceOutTax]
           ,[ClientRate]
           ,[ClientPriceWithTax]
           ,[ClientPriceOutTax]
           ,[SaleRate]
           ,[SalePriceWithTax]
           ,[SalePriceOutTax]
           ,[WebRate]
           ,[WebPriceWithTax]
           ,[WebPriceOutTax]
           ,[Remarks]
           ,[DeleteFlg]
           ,[UsedFlg]
           ,[InsertOperator]
           ,[InsertDateTime]
           ,[UpdateOperator]
           ,[UpdateDateTime])
     VALUES (
     		@ITemCD
           ,@ChangeDate
           ,@PriceWithTax
           ,@PriceOutTax
           ,100	--[GeneralRate]
           ,@PriceWithTax	--[GeneralPriceWithTax]
           ,@PriceOutTax	--[GeneralPriceOutTax]
           ,100	--[MemberRate]
           ,@PriceWithTax	--[MemberPriceWithTax]
           ,@PriceOutTax	--[MemberPriceOutTax]
           ,100	--[ClientRate]
           ,@PriceWithTax	--[ClientPriceWithTax]
           ,@PriceOutTax	--[ClientPriceOutTax]
           ,100	--[SaleRate]
           ,@PriceWithTax	--[SalePriceWithTax]
           ,@PriceOutTax	--[SalePriceOutTax]
           ,100	--[WebRate]
           ,@PriceWithTax	--[WebPriceWithTax]
           ,@PriceOutTax	--[WebPriceOutTax]
           ,NULL	--[Remarks]
           ,0	--DeleteFlg
           ,0	--UsedFlg
           ,@Operator  
           ,@SYSDATETIME
           ,@Operator  
           ,@SYSDATETIME
           );

    END;
    
    ELSE IF @OperateMode = 2 --変更--
    BEGIN
        SET @OperateModeNm = '変更';
        
        --テーブル転送仕様Ａ
        UPDATE [M_ITEM] SET
           [VariousFLG]             = @VariousFLG
           ,[ITemName]               = @ITemName
           ,[KanaName]               = @KanaName
           ,[ITEMShortName]	--[SKUShortName]           
           							 = @SKUShortName
           ,[EnglishName]            = @EnglishName
           ,[SetKBN]                 = @SetKBN
           ,[PresentKBN]             = @PresentKBN
           ,[SampleKBN]              = @SampleKBN
           ,[DiscountKBN]            = @DiscountKBN
		   ,[ColorCount]			 =(SELECT MAX(A.ColorNO) FROM @Table AS A  WHERE A.ITemCD =[M_ITem].ITemCD)
		   ,[SizeCount]				 =(SELECT MAX(A.SizeNO) FROM @Table AS A  WHERE A.ITemCD  =[M_ITem].ITemCD )
           ,[ColorName]              = @ColorName
           ,[SizeName]               = @SizeName
           ,[WebFlg]                 = @WebFlg
           ,[RealStoreFlg]           = @RealStoreFlg
           ,[MainVendorCD]           = @MainVendorCD
           ,[MakerVendorCD]          = @MainVendorCD
           ,[BrandCD]                = @BrandCD
           ,[MakerItem]              = @MakerItem
           ,[TaniCD]                 = @TaniCD
           ,[SportsCD]               = @SportsCD
           ,[SegmentCD]              = @SegmentCD
           ,[ZaikoKBN]               = @ZaikoKBN
           ,[Rack]                   = @Rack
           ,[VirtualFlg]             = @VirtualFlg
           ,[DirectFlg]              = @DirectFlg
           ,[ReserveCD]              = @ReserveCD
           ,[NoticesCD]              = @NoticesCD
           ,[PostageCD]              = @PostageCD
           ,[ManufactCD]             = @ManufactCD
           ,[ConfirmCD]              = @ConfirmCD
           ,[WebStockFlg]            = @WebStockFlg
           ,[StopFlg]                = @StopFlg
           ,[DiscontinueFlg]         = @DiscontinueFlg
           ,[SoldOutFlg]             = @SoldOutFlg
           ,[InventoryAddFlg]        = @InventoryAddFlg
           ,[MakerAddFlg]            = @MakerAddFlg
           ,[StoreAddFlg]            = @StoreAddFlg
           ,[NoNetOrderFlg]          = @NoNetOrderFlg
           ,[EDIOrderFlg]            = @EDIOrderFlg
           ,[CatalogFlg]             = @CatalogFlg
           ,[ParcelFlg]              = @ParcelFlg
           ,[AutoOrderFlg]           = @AutoOrderFlg
           ,[TaxRateFLG]             = @TaxRateFLG
           ,[CostingKBN]             = @CostingKBN
           ,[SaleExcludedFlg]        = @SaleExcludedFlg
           ,[PriceWithTax]           = @PriceWithTax
           ,[PriceOutTax]            = @PriceOutTax
           ,[OrderPriceWithTax]      = @OrderPriceWithTax
           ,[OrderPriceWithoutTax]   = @OrderPriceWithoutTax
           ,[Rate]                   = @Rate
           ,[SaleStartDate]          = @SaleStartDate
           ,[WebStartDate]           = @WebStartDate
           ,[OrderAttentionCD]       = @OrderAttentionCD
           ,[OrderAttentionNote]     = @OrderAttentionNote
           ,[CommentInStore]         = @CommentInStore
           ,[CommentOutStore]        = @CommentOutStore
		   ,[TagName01]				 =@TagName01
		   ,[TagName02]				 =@TagName02
		   ,[TagName03]				 =@TagName03
		   ,[TagName04]				 =@TagName04
		   ,[TagName05]				 =@TagName05
		   ,[TagName06]				 =@TagName06
		   ,[TagName07]				 =@TagName07
		   ,[TagName08]				 =@TagName08
		   ,[TagName09]				 =@TagName09
		   ,[TagName10]				 =@TagName101
           ,[ExhibitionSegmentCD]    = @ExhibitionSegmentCD
           ,[OrderLot]               = @OrderLot
           ,[LastYearTerm]           = @LastYearTerm
           ,[LastSeason]             = @LastSeason
           ,[LastCatalogNO]          = @LastCatalogNO
           ,[LastCatalogPage]        = @LastCatalogPage
           ,[LastCatalogText]        = @LastCatalogText
           ,[LastInstructionsNO]     = @LastInstructionsNO
           ,[LastInstructionsDate]   = @LastInstructionsDate
           ,[WebAddress]             = @WebAddress
           ,[ApprovalDate]           = @ApprovalDate
           ,[ApprovalDateTime]       = (CASE when @ApprovalDate is not NULL THEN @SYSDATETIME
										ELSE Null END)  
           ,[DeleteFlg]              = @DeleteFlg
           ,[UsedFlg]                = @UsedFlg
		   ,[SKSUpdateFlg]			=1
          ,[UpdateOperator]       = @Operator  
          ,[UpdateDateTime]       = @SYSDATETIME
        WHERE [ITemCD] = @ITemCD  
        AND [ChangeDate] = @ChangeDate
        ;
        
        --テーブル転送仕様Ｄ
        UPDATE[M_ItemPrice] SET
            [PriceWithTax]    = @PriceWithTax
           ,[PriceWithoutTax] = @PriceOutTax
           ,[UpdateOperator]  = @Operator  
           ,[UpdateDateTime]   = @SYSDATETIME
        WHERE [ITemCD] = @ITemCD  
       AND [ChangeDate] = @ChangeDate
       ;

    END

    ELSE IF @OperateMode = 3 --削除--
    BEGIN
        SET @OperateModeNm = '削除';

        DELETE FROM [M_ITEM]
         WHERE [ITemCD] = @ITemCD  
           AND [ChangeDate] = @ChangeDate
           ;
           
		--テーブル転送仕様Ｄ
        DELETE FROM [M_ItemPrice]
         WHERE [ITemCD] = @ITemCD  
           AND [ChangeDate] = @ChangeDate
           ;

        --テーブル転送仕様Ｆ
        --ITEM発注単価マスタ（M_ItemOrderPrice）
        DELETE FROM [M_ItemOrderPrice]
        WHERE EXISTS(SELECT 1 FROM M_SKU AS MS 
                     WHERE MS.ITemCD = @ITemCD  
                     AND MS.ChangeDate = @ChangeDate
                     AND MS.MakerItem = M_ItemOrderPrice.MakerItem
                     AND MS.MainVendorCD =M_ItemOrderPrice.VendorCD
                     AND MS.ChangeDate = M_ItemOrderPrice.ChangeDate
                     AND '0000' = M_ItemOrderPrice.StoreCD
                     );
  
        --テーブル転送仕様Ｇ
        DELETE FROM [M_Site]
        WHERE EXISTS(SELECT 1 FROM M_SKU AS MS 
                     WHERE MS.AdminNO = M_Site.AdminNO
                     AND MS.ITemCD = @ITemCD  
                     AND MS.ChangeDate = @ChangeDate)
        AND NOT EXISTS(SELECT 1 FROM M_SKU AS MS
                     WHERE MS.AdminNO = M_Site.AdminNO
                     AND MS.ITemCD = @ITemCD
                     AND MS.ChangeDate <> @ChangeDate)
                     ;

        DELETE FROM [M_SKUInfo]
        WHERE EXISTS(SELECT 1 FROM M_SKU AS MS 
                     WHERE MS.ITemCD = @ITemCD  
                     AND MS.ChangeDate = @ChangeDate
                     AND MS.AdminNO = M_SKUInfo.AdminNO
                     AND MS.ChangeDate =M_SKUInfo.ChangeDate
                     AND 1 = M_SKUInfo.SEQ
                     );

        DELETE FROM [M_SKUPrice]
        WHERE TankaCD = '0000000000000'
        AND   StoreCD = '0000'
        AND EXISTS(SELECT 1 FROM M_SKU AS MS 
                    WHERE MS.ITemCD = @ITemCD  
                      AND MS.ChangeDate = @ChangeDate
                      AND MS.AdminNO = M_SKUPrice.AdminNO
                      AND MS.ChangeDate = M_SKUPrice.ChangeDate
                  );
                                                           
        DELETE FROM [M_SKU]
         WHERE [ITemCD] = @ITemCD  
           AND [ChangeDate] = @ChangeDate
           ;
    END

    IF @OperateMode <= 2
    BEGIN
        --テーブル転送仕様Ｇ
        --M_SiteはChangeDateを持っていないため同一AdminNOで改定した場合は旧情報を削除する
        DELETE FROM MS
        FROM [M_Site] MS
        INNER JOIN @Table tbl
        ON MS.AdminNO = tbl.AdminNO

        --カーソルオープン
        OPEN CUR_AAA;

        --最初の1行目を取得して変数へ値をセット
        FETCH NEXT FROM CUR_AAA
        INTO @RowNO, @UpdateFlg, @AdminNO
        	,@TagName1,@TagName2,@TagName3,@TagName4,@TagName5
        	,@TagName6,@TagName7,@TagName8,@TagName9,@TagName10;

        --データの行数分ループ処理を実行する
        WHILE @@FETCH_STATUS = 0
        BEGIN
        -- ========= ループ内の実際の処理 ここから===

            --新規行・修正行の判定
            IF @AdminNO <> 0 AND EXISTS(SELECT * FROM M_SKU WHERE AdminNO = @AdminNO AND ChangeDate = @ChangeDate)
                SET @UpdateFlg = 1
            ELSE
                SET @UpdateFlg = 0 --新規追加 or 商品改定(改定日違い)

            --新規行
            IF @UpdateFlg = 0 OR @OperateMode = 1
            BEGIN
                --@AdminNO=0の場合、採番
                IF @AdminNO = 0
                    UPDATE M_SKUCounter SET
                        @NewAdminNO = AdminNO = AdminNO + 1
                    WHERE MainKey = 1
                ELSE
                    SET @NewAdminNO = @AdminNO

                --テーブル転送仕様Ｂ
                INSERT INTO [M_SKU]
                       ([AdminNO]
                      ,[SKUCD]
                      ,[ChangeDate]
                      ,[VariousFLG]
                      ,[SKUName]
                      ,[KanaName]
                      ,[SKUShortName]
                      ,[EnglishName]
                      ,[ITemCD]
                      ,[ColorNO]
                      ,[SizeNO]
                      ,[JanCD]
                      ,[SetKBN]
                      ,[PresentKBN]
                      ,[SampleKBN]
                      ,[DiscountKBN]
                      ,[ColorName]
                      ,[SizeName]
                      ,[WebFlg]
                      ,[RealStoreFlg]
                      ,[MainVendorCD]
                      ,[MakerVendorCD]
                      ,[BrandCD]
                      ,[MakerItem]
                      ,[TaniCD]
                      ,[SportsCD]
                      ,[SegmentCD]
                      ,[ZaikoKBN]
                      ,[Rack]
                      ,[VirtualFlg]
                      ,[DirectFlg]
                      ,[ReserveCD]
                      ,[NoticesCD]
                      ,[PostageCD]
                      ,[ManufactCD]
                      ,[ConfirmCD]
                      ,[WebStockFlg]
                      ,[StopFlg]
                      ,[DiscontinueFlg]
                      ,[SoldOutFlg]
                      ,[InventoryAddFlg]
                      ,[MakerAddFlg]
                      ,[StoreAddFlg]
                      ,[NoNetOrderFlg]
                      ,[EDIOrderFlg]
                      ,[CatalogFlg]
                      ,[ParcelFlg]
                      ,[AutoOrderFlg]
                      ,[TaxRateFLG]
                      ,[CostingKBN]
                      ,[SaleExcludedFlg]
                      ,[PriceWithTax]
                      ,[PriceOutTax]
                      ,[OrderPriceWithTax]
                      ,[OrderPriceWithoutTax]
                      ,[Rate]
                      ,[SaleStartDate]
                      ,[WebStartDate]
                      ,[OrderAttentionCD]
                      ,[OrderAttentionNote]
                      ,[CommentInStore]
                      ,[CommentOutStore]
                      ,[ExhibitionSegmentCD]
                      ,[OrderLot]
                      ,[ExhibitionCommonCD]
                      ,[LastYearTerm]
                      ,[LastSeason]
                      ,[LastCatalogNO]
                      ,[LastCatalogPage]
                      ,[LastCatalogText]
                      ,[LastInstructionsNO]
                      ,[LastInstructionsDate]
                      ,[WebAddress]
                      ,[SetAdminCD]
                      ,[SetItemCD]
                      ,[SetSKUCD]
                      ,[SetSU]
                      ,[ApprovalDate]
                      ,[DeleteFlg]
                      ,[UsedFlg]
					  ,[SKSUpdateFlg]
                      ,[InsertOperator]
                      ,[InsertDateTime]
                      ,[UpdateOperator]
                      ,[UpdateDateTime])
                 SELECT
                        @NewAdminNO
                       ,tbl.SKUCD
                       ,tbl.ChangeDate
                       ,tbl.VariousFLG
                       ,tbl.SKUName
                       ,tbl.KanaName
                       ,tbl.SKUShortName
                       ,tbl.EnglishName
                       ,tbl.ITemCD
                       ,tbl.ColorNO
                       ,tbl.SizeNO
                       ,tbl.JanCD
                       ,tbl.SetKBN
                       ,tbl.PresentKBN
                       ,tbl.SampleKBN
                       ,tbl.DiscountKBN
                       ,tbl.ColorName
                       ,tbl.SizeName
                       ,tbl.WebFlg
                       ,tbl.RealStoreFlg
                       ,tbl.MainVendorCD
                       ,tbl.MakerVendorCD
                       ,tbl.BrandCD
                       ,tbl.MakerItem
                       ,tbl.TaniCD
                       ,tbl.SportsCD
                       ,tbl.SegmentCD
                       ,tbl.ZaikoKBN
                       ,tbl.Rack
                       ,tbl.VirtualFlg
                       ,tbl.DirectFlg
                       ,tbl.ReserveCD
                       ,tbl.NoticesCD
                       ,tbl.PostageCD
                       ,tbl.ManufactCD
                       ,tbl.ConfirmCD
                       ,tbl.WebStockFlg
                       ,tbl.StopFlg
                       ,tbl.DiscontinueFlg
                       ,tbl.SoldOutFlg
                       ,tbl.InventoryAddFlg
                       ,tbl.MakerAddFlg
                       ,tbl.StoreAddFlg
                       ,tbl.NoNetOrderFlg
                       ,tbl.EDIOrderFlg
                       ,tbl.CatalogFlg
                       ,tbl.ParcelFlg
                       ,tbl.AutoOrderFlg
                       ,tbl.TaxRateFLG
                       ,tbl.CostingKBN
                       ,tbl.SaleExcludedFlg
                       ,tbl.PriceWithTax
                       ,tbl.PriceOutTax
                       ,tbl.OrderPriceWithTax
                       ,tbl.OrderPriceWithoutTax
                       ,tbl.Rate
                       ,tbl.SaleStartDate
                       ,tbl.WebStartDate
                       ,tbl.OrderAttentionCD
                       ,tbl.OrderAttentionNote
                       ,tbl.CommentInStore
                       ,tbl.CommentOutStore
                       ,tbl.ExhibitionSegmentCD
                       ,tbl.OrderLot
                       ,tbl.ExhibitionCommonCD
                       ,tbl.LastYearTerm
                       ,tbl.LastSeason
                       ,case when tbl.LastCatalogNO='' then NULL else tbl.LastCatalogNO end
                       ,case when tbl.LastCatalogPage='' then NULL else tbl.LastCatalogPage end
                       ,case when tbl.LastCatalogText='' then NULL else tbl.LastCatalogText end
                       ,case when tbl.LastInstructionsNO='' then NULL else tbl.LastInstructionsNO end
                       ,tbl.LastInstructionsDate
                       ,case when tbl.WebAddress='' then NULL else tbl.WebAddress end
                       ,tbl.SetAdminCD
                       ,tbl.SetItemCD
                       ,tbl.SetSKUCD
                       ,tbl.SetSU
                       ,tbl.ApprovalDate
                       ,tbl.DeleteFlg
                       ,0 AS UsedFlg
					   ,1
                       ,@Operator  
                       ,@SYSDATETIME
                       ,@Operator  
                       ,@SYSDATETIME
                    FROM @Table AS tbl
                    WHERE tbl.RowNO = @RowNO;
                ;
                
                --テーブル転送仕様Ｃ
                --SKUタグマスタ（M_SKUTag）
                EXEC INSERT_M_SKUTag
                    @TagName1 ,@NewAdminNO ,@ChangeDate;
                   
                EXEC INSERT_M_SKUTag
                    @TagName2 ,@NewAdminNO ,@ChangeDate;
                
                EXEC INSERT_M_SKUTag
                    @TagName3 ,@NewAdminNO ,@ChangeDate;
                
                EXEC INSERT_M_SKUTag
                    @TagName4 ,@NewAdminNO ,@ChangeDate;
                
                EXEC INSERT_M_SKUTag
                    @TagName5 ,@NewAdminNO ,@ChangeDate;
                
                EXEC INSERT_M_SKUTag
                    @TagName6 ,@NewAdminNO ,@ChangeDate;
                    
                EXEC INSERT_M_SKUTag
                    @TagName7 ,@NewAdminNO ,@ChangeDate;
                    
                EXEC INSERT_M_SKUTag
                    @TagName8 ,@NewAdminNO ,@ChangeDate;
                    
                EXEC INSERT_M_SKUTag
                    @TagName9 ,@NewAdminNO ,@ChangeDate;
                    
                EXEC INSERT_M_SKUTag
                    @TagName10 ,@NewAdminNO ,@ChangeDate;
                
                --テーブル転送仕様Ｇ
                INSERT INTO [M_Site]
                    ([AdminNO]
                   ,[APIKey]
                   ,[ShouhinCD]
                   ,[SiteURL]
                   ,[InsertOperator]
                   ,[InsertDateTime]
                   ,[UpdateOperator]
                   ,[UpdateDateTime])
                SELECT
                    @NewAdminNO --[AdminNO]
                   ,ST.APIKey
                   ,ST.ShouhinCD
                   ,ISNULL((SELECT top 1 A.ShopURL FROM M_API AS A 
                     WHERE A.APIKey = ST.APIKey
                     AND A.ChangeDate <= @ChangeDate
                     ORDER BY A.ChangeDate DESC),'') + ISNULL(ST.ShouhinCD,'') + '.html'
                   ,@Operator  
                   ,@SYSDATETIME
                   ,@Operator  
                   ,@SYSDATETIME
                FROM @SiteTable AS ST
                INNER JOIN @Table AS tbl 
                ON tbl.RowNO = @RowNO
                AND tbl.ColorNO = ST.ColorNO
                AND tbl.SizeNO = ST.SizeNO
                WHERE ST.APIKey <> 0
                AND ST.ShouhinCD IS NOT NULL AND ST.ShouhinCD <> ''
                ;
                
                --テーブル転送仕様Ｈ
                INSERT INTO [M_SKUInfo]
                   ([AdminNO]
                   ,[ChangeDate]
                   ,[SEQ]
                   ,[YearTerm]
                   ,[Season]
                   ,[CatalogNO]
                   ,[CatalogPage]
                   ,[CatalogText]
                   ,[InstructionsNO]
                   ,[InstructionsDate]
                   ,[DeleteFlg]
                   ,[InsertOperator]
                   ,[InsertDateTime]
                   ,[UpdateOperator]
                   ,[UpdateDateTime])
                SELECT @NewAdminNO  --[AdminNO]
                   ,@ChangeDate
                   ,1   --[SEQ]
                   ,tbl.LastYearTerm    --[YearTerm]
                   ,tbl.LastSeason      --[Season]
                   ,tbl.LastCatalogNO   --[CatalogNO]
                   ,tbl.LastCatalogPage --[CatalogPage]
                   ,tbl.LastCatalogText --[CatalogText]
                   ,tbl.LastInstructionsNO      --[InstructionsNO]
                   ,tbl.LastInstructionsDate    --[InstructionsDate]
                   ,0 --[DeleteFlg]
                   ,@Operator  
                   ,@SYSDATETIME
                   ,@Operator  
                   ,@SYSDATETIME
                FROM @Table AS tbl
                WHERE tbl.RowNO = @RowNO;

                --テーブル転送仕様I
                INSERT INTO [M_SKUPrice]
                (
                     TankaCD
                    ,StoreCD
                    ,AdminNO
                    ,SKUCD
                    ,ChangeDate
                    ,TekiyouShuuryouDate
                    ,PriceWithTax
                    ,PriceWithoutTax
                    ,GeneralRate
                    ,GeneralPriceWithTax
                    ,GeneralPriceOutTax
                    ,MemberRate
                    ,MemberPriceWithTax
                    ,MemberPriceOutTax
                    ,ClientRate
                    ,ClientPriceWithTax
                    ,ClientPriceOutTax
                    ,SaleRate
                    ,SalePriceWithTax
                    ,SalePriceOutTax
                    ,WebRate
                    ,WebPriceWithTax
                    ,WebPriceOutTax
                    ,Remarks
                    ,DeleteFlg
                    ,UsedFlg
                    ,InsertOperator
                    ,InsertDateTime
                    ,UpdateOperator
                    ,UpdateDateTime
                )
                SELECT
                    '0000000000000'     AS TankaCD
                    ,'0000'             AS StoreCD
                    ,@NewAdminNO
                    ,tbl.SKUCD
                    ,@ChangeDate
                    ,NULL               AS TekiyouShuuryouDate
                    ,tbl.PriceWithTax   AS PriceWithTax
                    ,tbl.PriceOutTax    AS PriceWithoutTax
                    ,100                AS GeneralRate
                    ,tbl.PriceWithTax   AS GeneralPriceWithTax
                    ,tbl.PriceOutTax    AS GeneralPriceOutTax
                    ,100                AS MemberRate
                    ,tbl.PriceWithTax   AS MemberPriceWithTax
                    ,tbl.PriceOutTax    AS MemberPriceOutTax
                    ,100                AS ClientRate
                    ,tbl.PriceWithTax   AS ClientPriceWithTax
                    ,tbl.PriceOutTax    AS ClientPriceOutTax
                    ,100                AS SaleRate
                    ,tbl.PriceWithTax   AS SalePriceWithTax
                    ,tbl.PriceOutTax    AS SalePriceOutTax
                    ,100                AS WebRate
                    ,tbl.PriceWithTax   AS WebPriceWithTax
                    ,tbl.PriceOutTax    AS WebPriceOutTax
                    ,NULL               AS Remarks
                    ,0                  AS DeleteFlg
                    ,0                  AS UsedFlg
                    ,@Operator  
                    ,@SYSDATETIME
                    ,@Operator  
                    ,@SYSDATETIME
                FROM @Table AS tbl
                WHERE tbl.RowNO = @RowNO;
            END

            --修正行
            ELSE IF @UpdateFlg = 1
            BEGIN
                --テーブル転送仕様Ｂ
                UPDATE [M_SKU]
                   SET [SKUCD]           = tbl.SKUCD
                      ,[SKUName]         = tbl.SKUName
                      ,[KanaName]        = tbl.KanaName
                      ,[SKUShortName]    = tbl.SKUShortName
                      ,[EnglishName]     = tbl.EnglishName
                      ,[ITemCD]          = tbl.ITemCD
                      ,[ColorNO]         = tbl.ColorNO
                      ,[SizeNO]          = tbl.SizeNO
                      ,[JanCD]           = tbl.JanCD
                      ,[SetKBN]          = tbl.SetKBN
                      ,[PresentKBN]      = tbl.PresentKBN
                      ,[SampleKBN]       = tbl.SampleKBN
                      ,[DiscountKBN]     = tbl.DiscountKBN
                      ,[ColorName]       = tbl.ColorName
                      ,[SizeName]        = tbl.SizeName
                      ,[WebFlg]          = tbl.WebFlg
                      ,[RealStoreFlg]    = tbl.RealStoreFlg
                      ,[MainVendorCD]    = tbl.MainVendorCD
                      ,[MakerVendorCD]   = tbl.MakerVendorCD
                      ,[BrandCD]         = tbl.BrandCD
                      ,[MakerItem]       = tbl.MakerItem
                      ,[TaniCD]          = tbl.TaniCD
                      ,[SportsCD]        = tbl.SportsCD
                      ,[SegmentCD]       = tbl.SegmentCD
                      ,[ZaikoKBN]        = tbl.ZaikoKBN
                      ,[Rack]            = tbl.Rack
                      ,[VirtualFlg]      = tbl.VirtualFlg
                      ,[DirectFlg]       = tbl.DirectFlg
                      ,[ReserveCD]       = tbl.ReserveCD
                      ,[NoticesCD]       = tbl.NoticesCD
                      ,[PostageCD]       = tbl.PostageCD
                      ,[ManufactCD]      = tbl.ManufactCD
                      ,[ConfirmCD]       = tbl.ConfirmCD
                      ,[WebStockFlg]     = tbl.WebStockFlg
                      ,[StopFlg]         = tbl.StopFlg
                      ,[DiscontinueFlg]  = tbl.DiscontinueFlg
                      ,[SoldOutFlg]      = tbl.SoldOutFlg
                      ,[InventoryAddFlg] = tbl.InventoryAddFlg
                      ,[MakerAddFlg]     = tbl.MakerAddFlg
                      ,[StoreAddFlg]     = tbl.StoreAddFlg
                      ,[NoNetOrderFlg]   = tbl.NoNetOrderFlg
                      ,[EDIOrderFlg]     = tbl.EDIOrderFlg
                      ,[CatalogFlg]      = tbl.CatalogFlg
                      ,[ParcelFlg]       = tbl.ParcelFlg
                      ,[AutoOrderFlg]    = tbl.AutoOrderFlg
                      ,[TaxRateFLG]      = tbl.TaxRateFLG
                      ,[CostingKBN]      = tbl.CostingKBN
                      ,[SaleExcludedFlg] = tbl.SaleExcludedFlg
                      ,[PriceWithTax]    = tbl.PriceWithTax
                      ,[PriceOutTax]     = tbl.PriceOutTax
                      ,[OrderPriceWithTax]   = tbl.OrderPriceWithTax
                      ,[OrderPriceWithoutTax] = tbl.OrderPriceWithoutTax
                      ,[Rate]               = tbl.Rate
                      ,[SaleStartDate]      = tbl.SaleStartDate
                      ,[WebStartDate]       = tbl.WebStartDate
                      ,[OrderAttentionCD]   = tbl.OrderAttentionCD
                      ,[OrderAttentionNote] = tbl.OrderAttentionNote
                      ,[CommentInStore]     = tbl.CommentInStore
                      ,[CommentOutStore]    = tbl.CommentOutStore
                      ,[ExhibitionSegmentCD] = tbl.ExhibitionSegmentCD
                      ,[OrderLot]           = tbl.OrderLot
                      ,[ExhibitionCommonCD] = tbl.ExhibitionCommonCD
                      ,[LastYearTerm]       = tbl.LastYearTerm
                      ,[LastSeason]         = tbl.LastSeason
                      ,[LastCatalogNO]      = case when tbl.LastCatalogNO='' then NULL else tbl.LastCatalogNO end
                      ,[LastCatalogPage]    = case when tbl.LastCatalogPage='' then NULL else tbl.LastCatalogPage end
                      ,[LastCatalogText]    = case when tbl.LastCatalogText='' then NULL else tbl.LastCatalogText end
                      ,[LastInstructionsNO] = case when tbl.LastInstructionsNO='' then NULL else tbl.LastInstructionsNO end
                      ,[LastInstructionsDate] = tbl.LastInstructionsDate
                      ,[WebAddress]           = case when tbl.WebAddress='' then NULL else tbl.WebAddress end
                      ,[SetAdminCD]           = tbl.SetAdminCD
                      ,[SetItemCD]            = tbl.SetItemCD
                      ,[SetSKUCD]             = tbl.SetSKUCD
                      ,[SetSU]                = tbl.SetSU
                      ,[ApprovalDate]         = tbl.ApprovalDate
					  ,[SKSUpdateFlg]			=1
                      ,[DeleteFlg]            = tbl.DeleteFlg
                      ,[UpdateOperator]       = @Operator  
                      ,[UpdateDateTime]       = @SYSDATETIME
                 FROM @Table AS tbl
                 WHERE [M_SKU].[AdminNO] = tbl.AdminNO  
                   AND [M_SKU].[ChangeDate] = @ChangeDate
                   AND tbl.RowNO = @RowNO
                   ;

                --テーブル転送仕様Ｃ
                --SKUタグマスタ（M_SKUTag）
                EXEC INSERT_M_SKUTag
                	@TagName1 ,@AdminNO ,@ChangeDate;
                   
                EXEC INSERT_M_SKUTag
                	@TagName2 ,@AdminNO ,@ChangeDate;
                
                EXEC INSERT_M_SKUTag
                	@TagName3 ,@AdminNO ,@ChangeDate;
                
                EXEC INSERT_M_SKUTag
                	@TagName4 ,@AdminNO ,@ChangeDate;
                
                EXEC INSERT_M_SKUTag
                	@TagName5 ,@AdminNO ,@ChangeDate;
                
                EXEC INSERT_M_SKUTag
                	@TagName6 ,@AdminNO ,@ChangeDate;
                	
                EXEC INSERT_M_SKUTag
                	@TagName7 ,@AdminNO ,@ChangeDate;
                	
                EXEC INSERT_M_SKUTag
                	@TagName8 ,@AdminNO ,@ChangeDate;
                	
                EXEC INSERT_M_SKUTag
                	@TagName9 ,@AdminNO ,@ChangeDate;
                	
                EXEC INSERT_M_SKUTag
                	@TagName10 ,@AdminNO ,@ChangeDate;

                INSERT INTO [M_Site]
                    ([AdminNO]
                   ,[APIKey]
                   ,[ShouhinCD]
                   ,[SiteURL]
                   ,[InsertOperator]
                   ,[InsertDateTime]
                   ,[UpdateOperator]
                   ,[UpdateDateTime])
                SELECT
                    @AdminNO --[AdminNO]
                   ,ST.APIKey
                   ,ST.ShouhinCD
                   ,ISNULL((SELECT top 1 A.ShopURL FROM M_API AS A 
                     WHERE A.APIKey = ST.APIKey
                     AND A.ChangeDate <= @ChangeDate
                     ORDER BY A.ChangeDate DESC),'') + ISNULL(ST.ShouhinCD,'') + '.html'
                   ,@Operator  
                   ,@SYSDATETIME
                   ,@Operator  
                   ,@SYSDATETIME
                FROM @SiteTable AS ST
                INNER JOIN @Table AS tbl 
                ON tbl.RowNO = @RowNO
                AND tbl.ColorNO = ST.ColorNO
                AND tbl.SizeNO = ST.SizeNO
                WHERE ST.APIKey <> 0
                AND ST.ShouhinCD IS NOT NULL AND ST.ShouhinCD <> ''
                ;
                
                --テーブル転送仕様Ｈ
                UPDATE [M_SKUInfo] SET
                    [YearTerm]           = tbl.LastYearTerm   
                   ,[Season]             = tbl.LastSeason     
                   ,[CatalogNO]          = tbl.LastCatalogNO  
                   ,[CatalogPage]        = tbl.LastCatalogPage
                   ,[CatalogText]        = tbl.LastCatalogText
                   ,[InstructionsNO]     = tbl.LastInstructionsNO  
                   ,[InstructionsDate]   = tbl.LastInstructionsDate
                   ,[UpdateOperator]     = @Operator
                   ,[UpdateDateTime]     = @SYSDATETIME
                 FROM @Table AS tbl
                 WHERE [M_SKUInfo].[AdminNO] = tbl.AdminNO  
                   AND [M_SKUInfo].[ChangeDate] = @ChangeDate
                   AND [M_SKUInfo].[SEQ] = 1
                   AND tbl.RowNO = @RowNO
                ;

                --テーブル転送仕様I
                UPDATE M_SKUPrice SET
                     PriceWithTax       = tbl.PriceWithTax
                    ,PriceWithoutTax    = tbl.PriceOutTax
                    ,UpdateOperator     = @Operator
                    ,UpdateDateTime     = @SYSDATETIME
                FROM @Table AS tbl
                WHERE M_SKUPrice.TankaCD = '0000000000000'
                AND M_SKUPrice.StoreCD = '0000'
                AND M_SKUPrice.AdminNO = tbl.AdminNO
                AND M_SKUPrice.ChangeDate = @ChangeDate
                AND tbl.RowNO = @RowNO
                ;
            END
                
            --画面.主要仕入先CDに入力があった場合
            --テーブル転送仕様Ｅ
            UPDATE [M_JANOrderPrice] SET
                [Rate]             = tbl.Rate
               ,[PriceWithoutTax]  = tbl.OrderPriceWithoutTax
               ,[UpdateOperator]   = @Operator  
               ,[UpdateDateTime]   = @SYSDATETIME
             FROM @Table AS tbl
             WHERE [M_JANOrderPrice].[AdminNO] = tbl.AdminNO  
               AND [M_JANOrderPrice].[VendorCD] = tbl.MainVendorCD
               AND [M_JANOrderPrice].[ChangeDate] = @ChangeDate
               AND [M_JANOrderPrice].[StoreCD] = '0000'
               AND tbl.RowNO = @RowNO
               AND ISNULL(tbl.MainVendorCD,'') <> ''  
               AND ISNULL(tbl.AdminNO,0) <> 0;
            
            IF @@ROWCOUNT = 0
            BEGIN
                --画面.主要仕入先CDに入力があった場合
                --テーブル転送仕様Ｅ
                --JAN発注単価マスタ（M_JANOrderPrice）
                INSERT INTO [M_JANOrderPrice]
                       ([AdminNO]
                       ,[VendorCD]
                       ,[StoreCD]
                       ,[ChangeDate]
                       ,[SKUCD]
                       ,[Rate]
                       ,[PriceWithoutTax]
                       ,[Remarks]
                       ,[DeleteFlg]
                       ,[UsedFlg]
                       ,[InsertOperator]
                       ,[InsertDateTime]
                       ,[UpdateOperator]
                       ,[UpdateDateTime])
                 SELECT
                        CASE WHEN ISNULL(tbl.AdminNO,0) = 0 THEN @NewAdminNO ELSE tbl.AdminNO END
                       ,tbl.MainVendorCD
                       ,'0000'	--@StoreCD
                       ,@ChangeDate
                       ,tbl.SKUCD
                       ,tbl.Rate
                       ,tbl.OrderPriceWithoutTax
                       ,NULL AS Remarks
                       ,0   --[DeleteFlg]
                       ,0   --[UsedFlg]
                       ,@Operator  
                       ,@SYSDATETIME
                       ,@Operator  
                       ,@SYSDATETIME
                FROM @Table AS tbl
                WHERE tbl.RowNO = @RowNO
                AND ISNULL(tbl.MainVendorCD,'') <> '';           
            
            END
               
            --画面.主要仕入先CDに入力があった場合                
            --テーブル転送仕様Ｆ
            --ITEM発注単価マスタ（M_ItemOrderPrice）
            UPDATE [M_ItemOrderPrice] SET
                [Rate]             = tbl.Rate
               ,[PriceWithoutTax]  = tbl.OrderPriceWithoutTax
               ,[UpdateOperator]   = @Operator  
               ,[UpdateDateTime]   = @SYSDATETIME
             FROM @Table AS tbl
             WHERE [M_ItemOrderPrice].[MakerItem] = tbl.MakerItem  
               AND [M_ItemOrderPrice].[VendorCD] = tbl.MainVendorCD
               AND [M_ItemOrderPrice].[ChangeDate] = @ChangeDate
               AND [M_ItemOrderPrice].[StoreCD] = '0000'
               AND tbl.RowNO = @RowNO
               ;
            
            IF @@ROWCOUNT = 0
            BEGIN
            	--テーブル転送仕様Ｆ
                --ITEM発注単価マスタ（M_ItemOrderPrice）
                INSERT INTO [M_ItemOrderPrice]
                   ([MakerItem]
                   ,[VendorCD]
                   ,[StoreCD]
                   ,[ChangeDate]
                   ,[Rate]
                   ,[PriceWithoutTax]
                   --,[Remarks]
                   ,[DeleteFlg]
                   ,[UsedFlg]
                   ,[InsertOperator]
                   ,[InsertDateTime]
                   ,[UpdateOperator]
                   ,[UpdateDateTime])
                 SELECT
                    tbl.MakerItem
                   ,tbl.MainVendorCD
                   ,'0000'	--[StoreCD]
                   ,@ChangeDate
                   ,tbl.Rate
                   ,tbl.OrderPriceWithoutTax
                   --,NULL AS Remarks
                   ,0   --[DeleteFlg]
                   ,0   --[UsedFlg]
                   ,@Operator  
                   ,@SYSDATETIME
                   ,@Operator  
                   ,@SYSDATETIME
                FROM @Table AS tbl
                WHERE tbl.RowNO = @RowNO
                AND ISNULL(tbl.MainVendorCD,'') <> '';
            END
                                                    
            -- ========= ループ内の実際の処理 ここまで===

            --次の行のデータを取得して変数へ値をセット
            FETCH NEXT FROM CUR_AAA
            INTO @RowNO, @UpdateFlg, @AdminNO
            ,@TagName1,@TagName2,@TagName3,@TagName4,@TagName5
            ,@TagName6,@TagName7,@TagName8,@TagName9,@TagName10;

        END
    END
    
    --処理履歴データへ更新
    EXEC L_Log_Insert_SP
        @SYSDATETIME ,
        @Operator,
        'MasterTouroku_Syouhin',
        @PC,
        @OperateModeNm,
        @KeyItem;
    
--<<OWARI>>
  return @W_ERR;

END
